<a href="https://colab.research.google.com/github/MuskanBansal2001/MB_Titanic_Analysis/blob/main/Salary_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#step 1: import library
import pandas as pd

In [5]:
#step 2: import data
salary = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Salary%20Data.csv')

In [6]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [7]:
salary.tail()

    Experience Years  Salary
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872

In [8]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [9]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [10]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [11]:
salary.shape

(40, 2)

In [13]:
#step 3: define target (y) & features (x)
y = salary['Salary']
x = salary[['Experience Years']]

In [14]:
x.shape

(40, 1)

In [15]:
y.shape

(40,)

In [16]:
#step 4: splitting of data into training and testing sets
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8,random_state=2529)

In [23]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((32, 1), (8, 1), (32,), (8,))

In [27]:
x_train

    Experience Years
23               5.3
17               4.1
2                1.3
25               5.9
39              10.5
20               4.7
5                2.2
26               6.0
34               8.7
15               4.0
32               8.2
21               4.9
28               6.5
22               5.1
30               7.1
8                3.0
12               3.7
38              10.3
31               7.9
19               4.5
11               3.5
16               4.0
13               3.8
37               9.6
9                3.2
29               6.8
10               3.2
33               8.5
0                1.1
14               3.9
24               5.5
18               4.3