<a href="https://colab.research.google.com/github/MuskanBansal2001/MB_Explanatory_Analysis_ybi/blob/main/Salary_Analysis(8STEPS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Salary%20Data.csv')

In [3]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [4]:
salary.tail()

    Experience Years  Salary
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872

In [5]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [6]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [7]:
#step 3: define target(y) and features(x)
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [11]:
x = salary[['Experience Years']]
y = salary['Salary']

In [12]:
#step 4: splitting of data for training and testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,random_state=2529)

In [13]:
#step 5: Selection of model, going into predictive modeling ie using experience to predict
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [14]:
#step 6: train the model aka fit model
# this is the step where ML happens, before we were just making the dataset ready
model.fit(x_train, y_train)
# .fit is the function used for training

LinearRegression()

In [15]:
model.intercept_
#will give c

27010.963630394683

In [16]:
model.coef_
#will give slope ie m

array([9343.3671387])

In [23]:
#step 7: is about prediction
y_pred = model.predict(x_test)
y_pred

array([ 90545.86017355,  59712.74861584, 106429.58430934,  64384.43218519,
        69056.11575454, 123247.645159  ,  84939.83989033,  63450.09547132,
        65318.76889906,  61581.42204358])

In [20]:
x_test

    Experience Years
29               6.8
11               3.5
33               8.5
16               4.0
19               4.5
38              10.3
27               6.2
14               3.9
17               4.1
12               3.7

In [26]:
#step 8: is the accuracy of the model
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test, y_pred)

0.06230870755908321